.header{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2C394B;
}

.navbar span{
    color: cornsilk;
    margin-left: 20px;
    font-style: italic;
}

.cartTotal{
    color:white;
    font-weight: bold;
    margin-right:30px;
    margin-left:0px;
    border:1px solid orange;
    border-radius: 50%;
    position: relative;
    background-color: orange;
    padding:0px 5px;
}

.navbtn{
    font: bold 16px Arial;
    text-decoration: none;
    background-color: lightgray;
    color: black;
    padding: 5px 10px;
    margin: 15px 50px 0px 50px;
    border-radius: 5px;
}
.navlink{
    color:cornsilk;
    margin: 20px;
    font-size: 18px;
}
h1{
    color:rgb(236, 84, 24);
}

.footer{
    align-items: center;
    background-color: #2C394B;
    height:50px;
    padding:10px;
}

.foottext{
    color:cornsilk;
}