.Playing{
    background-color: green;
}
.NoPlaying{
    background-color: red;
}
.Undecided{
    background-color:yellow;
}
.inactive{
    background-color: lightgray;
}
 button{
     margin: 0px 5px 0px 5px;
     border-radius: 5px;
 }

 form{
    border-style: groove;
    width:80%;
    margin: auto;
    margin-bottom: 20px;
    padding:auto;
 }

 table{
    width:95%;
    margin:auto;
    margin-bottom: 20px;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
    opacity:0.8;
 }

 th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color:lightgrey}
  
  th {
    background-color: lightseagreen;
    color: white;
  }

 .delBtn{
     background-color: red;
     color:black;
     font-size: 12px;
     box-shadow: 0 3px 3px 0 darkgray;
 }

 .box{
     border-style: solid;
     margin:20px 0px;
 }

 .header{
     margin: 10px 0px;
     padding: 20px;
 }

 .link{
    margin:0px 15px;
    color: darkcyan;
}
 
 .addBtn{
    background-color: darkgreen;
    color:lightyellow;
    border-radius: 5px;
    padding:5px;
    margin:10px 0px;
    width: 80px;
 }

 .errMessage{
     color:red;
     font-size: 10px;
 }